/colmV7
/.idea
/universal-sentence-encoder-large3
/universal-sentence-encoder_4
*.gz
*.json
*.BLB
*.br
*oldOld*
*oldText*
*hpTxt*
*.idea*
*books*
soapStoneTranslatorJs/sm/soapstoneTranslatorSM-LSH10-400HashOnly.html
