//- this file goes in the view directory
html  
  head
    link(rel='apple-touch-icon', sizes='57x57', href='icon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='icon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='icon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='icon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='icon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='icon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='icon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='icon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='icon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='icon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='icon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='icon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='icon/favicon-16x16.png')
    link(rel='manifest', href='icon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='icon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(type='text/javascript', src='http://www.colourofloosemetal.com//assets/futureimperfect/js/breakpoints.min.js')
    script(type='text/javascript', src='http://www.colourofloosemetal.com//assets/futureimperfect/js/util.js')
    script(type='text/javascript', src='http://www.colourofloosemetal.com//assets/futureimperfect/js/main.js')
    script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs")
    script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/@tensorflow-models/toxicity")
    script(type='text/javascript', src='http://www.colourofloosemetal.com/DS/yikesOrNah.js')
    script(type='text/javascript', src='http://www.colourofloosemetal.com/DS/erpug.js')
    

    title= "Elden Ring Message Generator"
  body
.base64strings
  p#msg1= message1
  p#msg2= message2
  p#msgType= messageType
div
  <canvas id="canvas" width="1149" height="254" style="width: 80vw;"></canvas>
  <p style="font-family: 'GaramondPremierER'; color: black;">egg &lt;force-font: &lt;force-font-all:</p>
  <p id="loading">loading<p>
  <button id="downloader" onclick="download_meme()">download image</button>
  <button id="copyLinkButton" onclick="copy_link()">copy link</button>
  <a style="display:none;" id="dlLink"></a>
    //- <a id="downloadAnchorElem" style="display:none"></a>
  <br><br>
  <small>
  <a href="http://www.colourofloosemetal.com/DS/erMessageMaker">Click here to make your own</a>
  </small>
    

style.
      #copyLinkButton{
        margin-left: 80px;
      }
      .base64strings {
      color: black;
      display: none;
      }
      body {
      background-color:  black;
      color: palegoldenrod;
      }
      @font-face {
      font-family: "GaramondPremierER";
      src: url(http://www.colourofloosemetal.com/DS/GaramondPremier.ttf) format("truetype");
      src: url("http://www.colourofloosemetal.com/DS/GaramondPremier.eot");
      src: url("http://www.colourofloosemetal.com/DS/GaramondPremier.woff") format("woff");
      }
      p.customfont { 
      font-family: "GaramondPremierER";
      }
      